@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #41a85f !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #553982 !important;
}
.btn-primary {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #553982;
  border-color: #553982;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #32224d;
  border-color: #32224d;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #32224d !important;
  border-color: #32224d !important;
}
.btn-primary-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #271a3b;
  color: #271a3b;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #553982;
  border-color: #553982;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #553982 !important;
  border-color: #553982 !important;
}
.text-primary {
  color: #41a85f !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #553982 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #553982;
}
.btn-social {
  border-color: #41a85f;
}
.btn-social:hover {
  background: #41a85f;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #41a85f;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #41a85f;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #41a85f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #41a85f;
}
.lead a,
.lead a:hover {
  color: #41a85f;
}
.lead blockquote {
  border-color: #41a85f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #9477c3;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #41a85f;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #c1c1c1;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #c1c1c1;
}
#menu-0 .link {
  font-size: 1.2rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #41a85f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #e6e6e6;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-0 .bg-color.transparent .link {
  color: #c1c1c1;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #c1c1c1;
}
#header1-1 .mbr-section-lead {
  color: #fac51c;
}
#header1-1 .mbr-section-lead B {
  color: #b8312f;
}
#content8-0 .mbr-section-title,
#content8-0 p {
  text-align: right;
  color: #fff;
}
#content8-0 P {
  color: #ffffff;
  text-align: center;
}
#content8-0 .mbr-section-title {
  text-align: center;
  color: #f7da64;
}
#features1-3 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features1-3 .mbr-cards-col:nth-child(even) .card-text {
  color: #232323;
}
#features1-3 .mbr-cards-col:nth-child(even) .card-title {
  color: #f3c649;
  text-align: center;
}
#features1-3 .mbr-cards-col:nth-child(odd) .card-text {
  color: #000000;
}
#features1-3 .mbr-cards-col:nth-child(even) .card-subtitle B {
  color: #ffffff;
  text-align: right;
}
#features1-3 .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #000000;
}
#features1-3 .mbr-cards-col:nth-child(even) .card-subtitle {
  text-align: center;
  color: #ffffff;
}
#features1-3 .mbr-cards-col:nth-child(even) .card-subtitle DIV {
  text-align: center;
}
#features1-3 .mbr-cards-col:nth-child(even) .card-subtitle SPAN {
  text-align: right;
  color: #efefef;
}
#features1-3 .mbr-cards-col:nth-child(even) .card-text B {
  color: #ffffff;
}
#features1-3 .mbr-cards-col:nth-child(odd) .card-subtitle SPAN {
  color: #000000;
}
#features1-3 .mbr-cards-col:nth-child(odd) .card-title {
  color: #41a85f;
}
#social-buttons2-7 .mbr-section-title,
#social-buttons2-7 .btn-social {
  color: #232323;
}
#form1-a .form-control-label {
  color: #232323;
}
#form1-a .mbr-section-title {
  text-align: center;
}
#form2-f .mbr-section-title {
  color: #fff;
}
#form2-f .mbr-section-subtitle {
  color: #a0a0a0;
}
#form2-g .mbr-section-title {
  color: #fff;
}
#form2-g .mbr-section-subtitle {
  color: #a0a0a0;
}
#pricing-table2-i .mbr-plan-header,
#pricing-table2-i .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-i ul,
#pricing-table2-i .mbr-plan-title,
#pricing-table2-i .mbr-price-value,
#pricing-table2-i .mbr-price-figure,
#pricing-table2-i .mbr-price-term {
  color: #28262b;
}
#pricing-table2-i .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-i .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#form1-j .form-control-label {
  color: #232323;
}
#form1-k .form-control-label {
  color: #232323;
}
#form1-l .form-control-label {
  color: #232323;
}
#form1-m .form-control-label {
  color: #232323;
}
#form1-n .form-control-label {
  color: #232323;
}
#form1-o .form-control-label {
  color: #232323;
}
#form1-p .form-control-label {
  color: #232323;
}
#form1-q .form-control-label {
  color: #232323;
}
#form1-r .form-control-label {
  color: #232323;
}
#form1-s .form-control-label {
  color: #232323;
}
#form1-h .form-control-label {
  color: #232323;
}
#header1-v .mbr-section-title {
  color: #d14841;
}
#header4-z .mbr-section-title {
  color: #ffffff;
}
#content2-11 P {
  text-align: left;
}
#msg-box1-15 H3 {
  color: #ffffff;
}
#form1-14 .form-control-label {
  color: #232323;
}
#social-buttons3-13 .mbr-section-title,
#social-buttons3-13 .btn-social {
  color: #fff;
}
